* {
	padding: 0;
	margin: 0;
}

.links {
	height: 40px;
	padding: 1em;
	text-align: right;
	margin-right: 1rem;
}

.links a {
  font-size: 1rem;
	display: inline-block;
	text-decoration: none;
	line-height: normal;
	margin: 10px;
	color: #272727;
}
.links a:hover {
	text-decoration: underline;
}

.main, .advanced {
	max-width: 1000px;
	margin: auto;
}
.main form {
	height: 100px;
	max-width: 600px;
	margin: auto;
	margin-top: 25%;
	text-align: center;
}
.main form input[type="text"] {
	height: 40%;
	width: 100%;
	border: 1px solid #dbdbdb;
	border-radius: 50px;
	margin-bottom: 1rem;
	padding-left: 10px;
}
.main form input[type="text"]:hover {
	box-shadow: 0 5px 15px -5px #d7d7d7;
}

.main form input[type="submit"], .main form input[type="button"] {
	height: 40%;
	border: 1px solid #f8f8f8;
	padding: 0 20px 0 20px;
	border-radius: 10px;
	background-color: #f8f8f8;
	color: #505050;
	margin: 0 4px 0 4px;
}
.main form input[type="submit"]:hover, .main form input[type="button"]:hover {
	border-color: #dbdbdb;
	color: #373737;
}

.advanced {
	margin: 20px;
}
.advanced form {
	max-width: 75%;
	text-align: right;
}
.advanced form input[type="text"] {
	width: 70%;
	max-width: 500px;
	border: 1px solid #dbdbdb;
	margin-bottom: 1rem;
	padding-left: 4px;
}